* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
}
body::-webkit-scrollbar {
  display: none;
}
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: 'DotGothic16';
  src: url('../font/DotGothic16.ttf');
}
@font-face {
  font-family: 'Flow Circular';
  src: url('../font/Flow Circular.ttf');
}
@font-face {
  font-family: 'ITC Avant Garde Gothic';
  src: url('../font/ITC Avant Garde Gothic.ttf');
}
@font-face {
  font-family: 'Codystar';
  src: url('../font/Codystar.ttf');
}
.scroll-none::-webkit-scrollbar {
  display: none;
  width: 0;
}
main {
  position: relative;
  width: 1280px;
  height: 768px;
  background: #fff;
  margin: auto;
  display: flex;
}
main nav {
  display: block;
  position: fixed;
  width: 120px;
  height: 20px;
  top: 128px;
  left: 46px;
  right: 0;
  z-index: 1000;
  font-family: 'DotGothic16';
  font-weight: 400;
  font-size: 24px;
  opacity: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
}
main .left {
  position: relative;
  width: 100px;
  height: 100%;
  overflow: hidden;
}
main .left .left-back {
  position: absolute;
  width: 40px;
  height: 49px;
  left: 13px;
  top: 4px;
  font-family: 'DotGothic16';
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  cursor: pointer;
}
main .left .left-content {
  position: absolute;
  width: auto;
  height: 100px;
  bottom: -100px;
  left: 0;
  line-height: 100px;
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(-90deg);
}
main .left .left-line {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  right: 10.5px;
  font-family: 'Flow Circular';
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  transform-origin: top right;
  transform: rotate(-90deg);
}
main .right {
  position: relative;
  flex: 1;
  box-sizing: border-box;
  padding: 20px 30px;
}
.pc {
  display: block;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 1279px) {
  main {
    width: 375px;
    height: 667px;
    background: #fff;
  }
  main .left {
    width: 64px;
  }
  main .left .left-content {
    height: 64px;
    line-height: 60px;
    bottom: -62px;
    font-size: 32px;
  }
  main .right {
    flex: 1;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@page {
  margin: 20px 0;
}
@media print {
  body {
    height: 100%;
  }
  main {
    width: 612px;
    height: 792px;
  }
  main nav {
    opacity: 1;
  }
  main .left {
    width: 64px;
  }
  main .left .left-content {
    position: fixed;
    line-height: 116px;
    font-size: 12px;
  }
  main .left .left-line {
    position: fixed;
    top: 0;
    right: 688px;
  }
  main .right {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding: 20px 30px;
  }
}