main .right .top {
  position: relative;
  font-family: 'Flow Circular';
  font-weight: 400;
  font-size: 76px;
  line-height: 90px;
  cursor: pointer;
}
main .right .top > .default {
  transition: all 0.4s;
}
main .right .top > .active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-family: 'Codystar';
  transition: all 0.4s;
}
main .right .top:hover > .default {
  opacity: 0;
}
main .right .top:hover > .active {
  opacity: 1;
}
main .right .bot {
  height: 544px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .right .bot .bot-text {
  height: 544px;
  margin-right: 36px;
  font-family: 'ITC Avant Garde Gothic';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  overflow-y: auto;
}
main .right .bot .bot-back {
  width: 262px;
  height: 544px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 24px 24px 0;
  font-family: 'DotGothic16';
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  border: 1px solid #000000;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  main .right .top {
    font-size: 40px;
    line-height: 48px;
  }
  main .right .bot {
    height: auto;
    margin-top: 8px;
    display: block;
  }
  main .right .bot .bot-text {
    height: 520px;
    margin: 0;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-y: auto;
  }
  main .right .bot .bot-back {
    display: none;
  }
}
@media print {
  main .right .top {
    font-size: 40px;
    line-height: 48px;
  }
  main .right .top > .default {
    opacity: 0;
  }
  main .right .top > .active {
    opacity: 1;
  }
  main .right .bot {
    height: auto;
    margin-top: 8px;
    display: block;
  }
  main .right .bot .bot-text {
    height: auto;
    margin: 0;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-y: auto;
  }
  main .right .bot .bot-back {
    display: none;
  }
}